// some options need to be over-written - instance size for instance
// some on the otherhand need to merge - such as packages or users
// how do we know what is what? - hard code for now
{
  "ami":"ami-000be369", // public ubuntu 10.04 ami - 32 bit
  "security_group" : "pg", // (UNUSED)
  "user" : "ubuntu", // (UNUSED)

  "availability_zone" : "us-east-1a",
  "elastic_ip" : true // UNUSED
}
